<div class = "topBar">

    <div class = "pageTitle">
        <h1 class = "pageTitle">Passwords</h1>
    </div>

    <div class = "navList">
        <ul class = "navList">
            <li class = "navItem">
                <a href="/home">Home</a>
            </li>
            <li class = "navItem">
                <a href="/shop">Shop</a>
            </li>
            <li class = "navItem">
                <a href="/passwords">My Passwords</a>
            </li>
            <li class = "navItem">
                <a href="/help">Help</a>
            </li>
        </ul>
    </div>

    <img src="/img/arrow.png" class = "arrow active" id = "arrow">

</div>

<div class = "loginbox active" id = "loginbox">
    <% if(!isAuthenticated) {%>
        <form class="loginform" action="/account/?_method=get" method="post">

            <input type="text" name="username" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button action = "submit">login</button>

        </form>
    <% }else { %>

        <p>Welcome</p>
        <p><%- user %></p>

    <% } %>

</div>
