<div class = "navBar">
    <div class = "topBar top" id = "topBar">

        <div class = "pageTitle">
            <h1 class = "pageTitle">Everest</h1>
            <span class = "titleExtended"><h1 class = "pageTitle"> Passwords</h1></span>
        </div>

        <span class = "navSpan">
            <nav class = "navList wideNav">
                <ul class = "navList">
                    <li class = "navItem">
                        <a href="/home">Home</a>
                    </li>
                    <li class = "navItem">
                        <a href="/shop">Shop</a>
                    </li>
                    <li class = "navItem">
                        <a href="/passwords">Passwords</a>
                    </li>
                    <li class = "navItem">
                        <a href="/help">Help</a>
                    </li>
                </ul>

            </nav>
        </span>
        <span class = "loginSpan">

            <form class="loginform" action="/account/?_method=get" method="post">

                <input type="text" name="username" placeholder="email">
                <input type="password" name="password" placeholder="password">
                <button action = "submit">login</button>

            </form>

        </span>

        <button type="button" class="hamburger hamburger--slider" id="menuToggle">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

    </div>

    <nav class = "narrowNav" id = "narrowNav">

        <ul class = " narrowNavList">
            <li class = "navItem">
                <a href="/home">Home</a>
            </li>
            <li class = "navItem">
                <a href="/shop">Shop</a>
            </li>
            <li class = "navItem">
                <a href="/passwords">Passwords</a>
            </li>
            <li class = "navItem">
                <a href="/help">Help</a>
            </li>
        </ul>

        <form class="loginform" action="/account/?_method=get" method="post">
            <div>
            <input type="text" name="username" placeholder="email">
            <input type="password" name="password" placeholder="password">
            </div>
            <button action = "submit">login</button>

        </form>

    </nav>

    <!--div class = "loginbox" id = "loginbox">
        <% if(!isAuthenticated) {%>
            <form class="loginform" action="/account/?_method=get" method="post">

                <input type="text" name="username" placeholder="email">
                <input type="password" name="password" placeholder="password">
                <button action = "submit">login</button>

            </form>
        <% }else { %>

            <p>Welcome</p>
            <p><%- user %></p>

        <% } %>

    </div-->
</div>
