<div class = "topBar">

    <div class = "pageTitle">
        <h1 class = "pageTitle">Passwords</h1>
    </div>

    <div class = "navList">
        <ul class = "navList">
            <li class = "navItem">
                <a href="/home">Home</a>
            </li>
            <li class = "navItem">
                <a href="/createaccount">Create Account</a>
            </li>
        </ul>
        <% if(!isAuthenticated) {%>
            <form class="" action="/account/?_method=get" method="post">

                <input type="text" name="username">
                <input type="password" name="password">
                <button action = "submit">login</button>

            </form>
        <% }else { %>

            <p>Welcome <%- user %></p>

        <% } %>

    </div>

</div>
