<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Help</title>
        <%- include('../partials/htmldeps.ejs') %>
    </head>
    <body>
            <%- include('../partials/topbar.ejs'); %>
    </body>
</html>
