.topBar {

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 0px;
    margin: 0px;

    background-color: #003300;

    font-size: 13px;

}

.pageTitle {

    display: inline-flex;

    width: 200px;

    margin: 0px;
    padding: 5px;

    color: white;

}

.navList {

    display: inline-flex;

    width: 80%;
    height: 100%;

    color: yellow;

    padding: 0px;
    margin: 0px;

}

.navItem {

    display: inline;

    margin: 0px;

    height: 100%;



}

.navItem a {

    text-decoration: none;

    color: white;

    padding: 13px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 20px;

}

.navItem a:hover {

    background-color: black;
    color: white;

}

.arrow {

    height: 50px;

    transform: rotate(0deg);

    transition-property: transform;
    transition-duration: 1s;

}

.arrow.active {

    transform: rotate(180deg);

}

.loginbox {

    width: 20%;
    float: right;
    position: sticky;

    background-color: #003300;

    padding: 10px;

    border-bottom-left-radius: 20px;

    margin-top: 0px;

    transition-property: margin;
    transition-duration: 1s;

}

.loginbox.active {

    margin-top: -300px;

}

.loginform {

}

.loginform input {

    display: block;
    margin: 5px;
    padding: 5px;

    background-color: white;

    border: 0px;
    border-radius: 5px;

    width: 90%;

    float: right;

}

.loginform button {

    display: block;

    background-color: white;

    margin: 5px;
    padding: 5px;

    border: 0px;
    border-radius: 5px;

    float: right;

}
