.navBar {

    width: 100%;
    position: sticky;

    top: 0;

}

.topBar {

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 0px;
    margin: 0px;

    background-color: #e6e6e6;

    font-size: 13px;

    transition-property: background-color;
    transition-duration: 300ms;

    flex-wrap: wrap;

}

.topBar.top {

    background-color: rgba(0,0,0,0);

}

.pageTitle {

    display: inline-flex;

    margin: 0px;
    padding: 5px;

    color: black;

}

.navList {

    display: inline-flex;
    align-items: center;

    height: 100%;

    color: yellow;

    padding: 0px;
    margin: 0px;

}

@media only screen and (max-width: 730px){

    .narrowNav {

        display: grid;
        height: 0px;
        overflow: hidden;
        position: fixed;

        transition-property: height;
        transition-duration: 300ms;

    }

    .navBar.active .narrowNav {

        height: 275px;

    }

    .navBar.active .topBar {

        background-color: #e6e6e6;

    }

    .narrowNav li{

        display: block;

        width: 100vw;

        text-align: center;

        margin: 0px;

    }

    .narrowNav li a {

        width: 100%;

        display: block;

    }

    .narrowNavList {

        display: grid;

        align-items: center;
        padding: 0px;
        margin: 0px;

    }

    .wideNav {

        display: none;

    }

    .navItem {

        background-color: #e6e6e6;

    }

    .loginform {

        display: flex;
        flex-wrap: wrap;

        background-color: #e6e6e6;

        justify-content: space-around;

    }

    .loginform input {

        height: 15px;

    }

    .loginform button {

        height: 25px;

    }

    .loginSpan {

        display: none;

    }

}

@media only screen and (min-width: 729px) {

    .narrowNav {

        display: none;

    }

    .wideNav {



    }

    .wideNav li {

        display: inline;

    }

    .loginform {



    }

    .loginform input {

        display: inline;

        max-width: 35%

    }

    .loginform button {

        display: inline;

        min-width: 45px;
        max-width: 20%;

    }

    .loginSpan {

        width: 0px;
        height: 36px;
        overflow: hidden;

        margin, padding: 0px;

        transition-property: width;
        transition-duration: 300ms;

    }

    .navSpan {

        width: 350px;
        height: 100%;
        overflow: hidden;

        margin, padding: 0px;

        transition-property: width;
        transition-duration: 300ms;

    }

    .navBar.active .loginSpan {

        width: 350px;

    }

    .navBar.active .navSpan {

        width: 0px;

    }

}

.navItem {

    margin: 0px;

    height: 100%;

    border-color: black;
    border-width: 3px;

}

.navItem a {

    text-decoration: none;

    color: black;

    padding: 13px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 20px;

}

.navItem a:hover {

    background-color: black;
    color: white;

}

.menuToggle {

    height: 30px;
    width: 30px;

    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    padding: 3px;

    background-color: black;

}

.menuToggle div {

    height: 2px;
    width: 100%;

    background-color: white;

}

.loginbox {

    width: 20%;
    position: absolute;
    right: 0;

    background-color: #e6e6e6;

    padding: 10px;

    border-bottom-left-radius: 20px;

    margin-top: -300px;

    transition-property: margin;
    transition-duration: 1s;

}

.loginbox.active {

    margin-top: 0px;

}

.loginform {

    width: 100%;

}

.loginform input {

    margin: 5px;
    padding: 5px;

    background-color: white;

    border: 0px;
    border-radius: 5px;

}

.loginform button {

    background-color: white;

    margin: 5px;
    padding: 5px;

    border: 0px;
    border-radius: 5px;

    float: right;

}

@media only screen and (min-width: 360px) {

    .titleExtended {

        display: initial;

    }

}

@media only screen and (max-width: 360px) {

    .titleExtended {

        display: none;

    }

}
