body {

    margin: 0px;

}

nav.navbar {

    height:50px;
    background-color:black;

    color:white;

}

a.navbar-brand {

    font-size: 24px;

    display: inline;

    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 13px;

    padding: 13px;

}

ul.nav-list {

    display: inline;

}

ul.nav-list li {

    display: inline;

    color: white;

}
