body {

    margin: 0px;

    font-family: "Arial";

    background-image: url("../source/mainBG.jpg");
    background-size: cover;

}

div.main-body {

    width: 80%;

    background-color: white;

    padding-left: 20px;
    padding-right: 20px;

    margin: auto;

}

div.main-body h1 {



}
